@font-face {
	font-family: 'rsu regular';
	src: url('rsu_regular-webfont.eot');
	src: url('rsu_regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('rsu_regular-webfont.woff') format('woff'),
		url('rsu_regular-webfont.ttf') format('truetype'),
		url('rsu_regular-webfont.svg') format('svg');
		font-weight: normal;
		font-style: normal;
}


@font-face {
	font-family: 'csprajad';
	src: url('csprajad-webfont.eot');
	src: url('csprajad-webfont.eot?#iefix') format('embedded-opentype'),
		url('csprajad-webfont.woff') format('woff'),
		url('csprajad-webfont.ttf') format('truetype'),
		url('csprajad-webfont.svg') format('svg');
		 font-weight: normal;
		font-style: normal;
}
